---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    df = pd.read_csv('university_towns.txt',sep=';',names=['RegionName'])
    df.insert(0, 'State', df['RegionName'].str.extract('(.*)\[edit\]', expand=False).ffill())
    df['RegionName'] = df['RegionName'].str.replace(r' \(.+$', '')
    df = df[~df['RegionName'].str.contains('\[edit\]')].reset_index(drop=True)
    
    return df

get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [4]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    df = pd.read_excel('gdplev.xls',
                       skiprows=5,
                       names=['Quarter','GDP in billions of chained 2009 dollars'],
                       parse_cols="E,G")
    
    df = df[df['Quarter']>='2000q1']
    
    df['GDP change'] = (df['GDP in billions of chained 2009 dollars']
                        .diff()
                        /df['GDP in billions of chained 2009 dollars']
                        .shift())*100

    df['GDP change'] = df['GDP change'].apply(lambda x: -1 if x<0 else 0)
    df['GDP change'] = df['GDP change']+df['GDP change'].shift()
    
    ans = df.loc[df['GDP change']==-2].iloc[0].Quarter
    
    return ans

get_recession_start()

'2008q4'

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    df = pd.read_excel('gdplev.xls',
                       skiprows=5,
                       names=['Quarter','GDP in billions of chained 2009 dollars'],
                       parse_cols="E,G")
    
    df = df[df['Quarter']>=get_recession_start()]

    df['GDP change'] = (df['GDP in billions of chained 2009 dollars']
                        .diff()
                        /df['GDP in billions of chained 2009 dollars']
                        .shift())*100
    
    df['GDP change'] = df['GDP change'].apply(lambda x: 1 if x>0 else 0)
    df['GDP change'] = df['GDP change']+df['GDP change'].shift()
    
    ans = df.loc[df['GDP change']==2].iloc[0].Quarter

    return ans

get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    df = pd.read_excel('gdplev.xls',
                       skiprows=5,
                       names=['Quarter','GDP in billions of chained 2009 dollars'],
                       parse_cols="E,G")
    
#     df.set_index('Quarter',inplace=True)

    df = df.loc[(df['Quarter']>=get_recession_start()) & (df['Quarter']<=get_recession_end())]

    ans = df['Quarter'].loc[df['GDP in billions of chained 2009 dollars'] == df['GDP in billions of chained 2009 dollars'].min()]
    
    return ans.values[0]

get_recession_bottom()

'2009q2'

In [9]:
df = pd.read_csv('City_Zhvi_AllHomes.csv')

In [12]:
df = df.drop(['RegionID','Metro','CountyName','SizeRank'],axis=1)

In [16]:
df = df.drop(df.loc[:,'1996-04':'1999-12'],axis=1)

In [18]:
df = df.set_index(['State','RegionName'])

In [ ]:
for y in range (2000,2016):
    for q in range (1,4):
        df[(y,"q")]

In [19]:
df

,,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,2000-10,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
CA,Los Angeles,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,222800.0,224300.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
IL,Chicago,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,149000.0,150400.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
PA,Philadelphia,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,54500.0,54700.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
AZ,Phoenix,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,116500.0,117200.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900
NV,Las Vegas,131700.0,132600.0,133500.0,134100.0,134400.0,134600.0,134800.0,135400.0,136000.0,136400.0,...,190600,192000,193600,194800,195400,196100,197300,198200,199300,200600
CA,San Diego,219200.0,222900.0,226600.0,230200.0,234400.0,238500.0,242000.0,245300.0,249000.0,252500.0,...,525700,526700,527800,529200,531000,533900,536900,537900,539000,540500
TX,Dallas,85100.0,84500.0,83800.0,83600.0,83800.0,84200.0,84500.0,84900.0,85200.0,86000.0,...,134600,136600,138700,140600,142200,143300,144500,146000,148200,150400
CA,San Jose,364100.0,374000.0,384700.0,395700.0,407100.0,416900.0,424700.0,431700.0,439200.0,447600.0,...,789700,792100,795800,803100,811900,817600,819100,820100,821700,822700
FL,Jacksonville,88000.0,88800.0,89000.0,88900.0,89600.0,90600.0,91200.0,91700.0,92200.0,92600.0,...,132000,132500,133100,133900,134900,136000,137200,138400,139500,140300
CA,San Francisco,418700.0,430600.0,442200.0,453600.0,465200.0,474600.0,480400.0,483300.0,486900.0,490700.0,...,1105800,1112300,1117400,1122700,1125200,1123200,1119800,1114800,1108800,1104000
TX,Austin,142500.0,143000.0,143400.0,143900.0,145000.0,146900.0,148400.0,149300.0,150700.0,152900.0,...,287300,289300,291100,293400,296000,299200,301800,303300,304100,304800
MI,Detroit,64400.0,66200.0,67900.0,68900.0,68600.0,67400.0,66600.0,66600.0,67100.0,67200.0,...,38500,38400,38300,38000,37600,37400,37500,37500,37700,38100
OH,Columbus,93800.0,94400.0,94900.0,95400.0,95800.0,96300.0,96700.0,97200.0,97500.0,97800.0,...,115200,115800,116200,116700,117200,117700,118100,118800,119700,120500
TN,Memphis,72400.0,72500.0,72600.0,72900.0,73200.0,73500.0,73800.0,73900.0,73900.0,73900.0,...,69600,69800,69900,70800,72000,73100,74300,75100,75600,76200
NC,Charlotte,126600.0,126900.0,127300.0,127800.0,128300.0,129000.0,129700.0,130300.0,130600.0,131000.0,...,162800,164300,165500,166500,167400,168400,169500,170400,171700,173100
TX,El Paso,75900.0,76300.0,76600.0,76900.0,77000.0,76700.0,76600.0,76700.0,76900.0,77000.0,...,110200,110000,110200,110600,111200,111500,111400,111500,112100,112300
MA,Boston,203100.0,206900.0,210800.0,214700.0,218900.0,223900.0,228900.0,233300.0,237100.0,240100.0,...,471000,474600,478700,482900,486200,488000,489700,493400,499200,504200
WA,Seattle,246100.0,248800.0,250900.0,252900.0,255500.0,258400.0,260800.0,262500.0,264300.0,266200.0,...,533700,538700,544300,551200,559700,568600,576200,581800,587200,592200
MD,Baltimore,59300.0,59700.0,60000.0,59800.0,59400.0,59300.0,58900.0,58700.0,58900.0,59400.0,...,113600,114000,114500,114700,114800,114700,114600,114900,115100,115200
CO,Denver,160600.0,162200.0,163900.0,165800.0,167800.0,169900.0,172200.0,174400.0,176400.0,178300.0,...,330500,332100,333500,335600,337600,339700,342700,345900,349800,353300
DC,Washington,136200.0,137900.0,139200.0,140900.0,144200.0,147500.0,148800.0,148700.0,148600.0,148000.0,...,501200,502500,503800,504700,503800,503400,505100,508900,513900,518600
TN,Nashville,113100.0,113900.0,114500.0,115000.0,115400.0,115400.0,115500.0,115800.0,116300.0,116700.0,...,189300,191400,193300,195100,196800,198400,200300,202400,205000,207200
WI,Milwaukee,77600.0,78100.0,78400.0,78600.0,79000.0,79600.0,80400.0,81000.0,81700.0,82100.0,...,94600,94300,94200,94600,95200,95900,96300,96900,98200,99500
AZ,Tucson,101500.0,101900.0,102100.0,102500.0,103000.0,103400.0,103900.0,104500.0,105000.0,105300.0,...,148200,148400,148800,149500,150300,150700,151100,151700,152400,153000
OR,Portland,152300.0,152800.0,153300.0,153800.0,154700.0,155800.0,156400.0,156600.0,156700.0,157000.0,...,343400,347800,351900,356100,360000,364400,369300,375700,383600,390500
OK,Oklahoma City,76000.0,76400.0,76900.0,77200.0,77500.0,77800.0,78300.0,78600.0,78800.0,78800.0,...,127300,127700,127600,127700,128400,129000,129300,129600,130100,130500
NE,Omaha,112400.0,112800.0,113200.0,113400.0,114000.0,114900.0,115800.0,116700.0,117700.0,118200.0,...,140300,140500,140900,141600,142400,142800,142700,142500,143100,143800
NM,Albuquerque,125300.0,125800.0,126500.0,126700.0,126700.0,126700.0,126500.0,126400.0,126400.0,126500.0,...,167300,167800,168300,169100,169900,170300,170500,171100,171800,172000
CA,Fresno,93300.0,94300.0,94700.0,94800.0,95200.0,95800.0,96100.0,96400.0,96900.0,97500.0,...,187600,187700,187900,189000,190200,191200,192700,194300,195800,197100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128200,129900,131500,133700,136100,137900,139700,142600,145700,147200
MD,Piney Point,155300.0,156200.0,155500.0,154300.0,154900.0,156300.0,157800.0,158200.0,159400.0,162000.0,...,309800,312600,315900,319900,322700,323600,324300,324600,324500,324700
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,129100,129700,128900,127600,127000,127800,129300,130700,132900,135500
ID,Middleton,106700.0,105600.0,105900.0,105500.0,104200.0,103300.0,102600.0,101800.0,101300.0,102200.0,...,151100,152300,153200,154000,154500,155500,157200,158800,160100,161400
CO,Bennett,131600.0,133100.0,134000.0,134700.0,135800.0,137000.0,138200.0,139700.0,141500.0,143400.0,...,195700,197400,198500,199400,201400,204500,207700,210200,211900,213300
NH,East Hampstead,160000.0,161800.0,163700.0,166300.0,169400.0,171600.0,172900.0,173900.0,175100.0,177100.0,...,269600,270600,271200,272400,274000,275800,277800,279800,281700,283200
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103600,104800,105200,105800,107800,110000,112000,113000,113500,113700
AR,Mountainburg,54800.0,56800.0,59900.0,62500.0,64500.0,66000.0,67100.0,68000.0,68400.0,68500.0,...,90100,93400,96300,98600,100100,101200,101800,102700,103300,103500
WI,Oostburg,106800.0,107300.0,107700.0,107400.0,107600.0,109300.0,111200.0,112400.0,113700.0,115000.0,...,132000,132500,132700,132600,133000,133700,134100,134500,135700,137000
CA,Twin Peaks,96800.0,97000.0,98300.0,99800.0,100300.0,100400.0,101100.0,101600.0,101300.0,101300.0,...,159200,160600,162400,164400,165700,166300,167700,169900,172500,174500
NY,Upper Brookville,1222500.0,1240300.0,1230100.0,1221900.0,1231300.0,1239700.0,1235800.0,1234100.0,1243200.0,1254400.0,...,1833700,1854900,1879300,1905900,1928300,1941800,1942000,1948400,1962600,1975000
HI,Volcano,98500.0,97400.0,100200.0,103700.0,105200.0,107200.0,111500.0,114400.0,118100.0,123700.0,...,232500,236400,239700,241800,244700,247800,249600,249500,248500,247200
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69000,68500,68200,68500,69900,71900,74100,76800,79600,81800
MI,Williamston,157400.0,159400.0,160700.0,160900.0,161000.0,162000.0,163300.0,164300.0,165300.0,165900.0,...,182700,181800,180800,181000,182600,182900,182200,182100,182800,183200
AR,Decatur,63600.0,63500.0,63700.0,64200.0,64500.0,64500.0,64900.0,65700.0,66400.0,66700.0,...,97200,97400,96900,96300,96300,96600,96600,96700,96900,96800
TN,Briceville,39000.0,40200.0,40800.0,41100.0,41500.0,42600.0,43400.0,43600.0,44000.0,44800.0,...,43200,41700,40800,40500,41100,41700,42000,41700,41100,40600
IN,Edgewood,91300.0,91800.0,92000.0,91500.0,91700.0,92400.0,92700.0,92800.0,93300.0,93900.0,...,100200,101100,100200,98900,99200,99600,99900,100400,101000,100900
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126400,127600,127300,127300,128400,130000,133000,135600,137000,138500
MD,Saint Inigoes,148200.0,148400.0,147600.0,146700.0,147300.0,148800.0,152400.0,157100.0,162200.0,164400.0,...,277200,275800,276300,279500,282200,282900,282900,282100,281400,281400
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119800,124100,127200,129500,128000,124800,122700,122200,123100,125300
CA,Forest Falls,114200.0,113300.0,113100.0,114000.0,114700.0,114500.0,114400.0,114600.0,113500.0,111900.0,...,199700,195300,190400,187500,188000,190000,190600,189000,187100,186200
MO,Bois D Arc,106600.0,108400.0,108400.0,107500.0,106400.0,107000.0,107900.0,107200.0,106200.0,107300.0,...,149800,149100,148000,146900,145700,145000,143700,142600,143200,144800
VA,Henrico,127800.0,128600.0,129300.0,130100.0,130700.0,131500.0,132000.0,132300.0,132500.0,132800.0,...,213800,215100,216000,216200,215900,215900,215900,216800,219000,221300
NJ,Diamond Beach,171300.0,173700.0,176900.0,180500.0,183400.0,185400.0,187400.0,189000.0,190500.0,192400.0,...,400100,401600,403100,405000,405500,404500,403800,403400,400700,397300
TN,Gruetli Laager,35500.0,35500.0,35200.0,35200.0,35500.0,35700.0,36100.0,36700.0,37200.0,37400.0,...,71800,72900,74500,75700,75800,75900,76600,76900,77200,77800
WI,Town of Wrightstown,101100.0,101500.0,102700.0,103700.0,105200.0,107300.0,110000.0,111800.0,112300.0,112900.0,...,149900,150100,150300,150000,149200,149900,151400,152500,154100,155900
NY,Urbana,77600.0,79400.0,80600.0,80200.0,81000.0,83800.0,88700.0,92400.0,94000.0,96300.0,...,135700,136400,137700,138700,140500,143600,145000,144000,143000,143000
WI,New Denmark,113900.0,114000.0,115800.0,117600.0,119100.0,121100.0,123900.0,126200.0,128100.0,129600.0,...,188700,189800,190800,191200,191200,191700,192800,194000,196300,198900
CA,Angels,148000.0,151200.0,153800.0,155600.0,156000.0,156100.0,156900.0,157700.0,159700.0,164100.0,...,280400,279600,278000,276600,275000,273700,272000,269100,269000,270900
WI,Holland,150800.0,151000.0,151300.0,151000.0,150200.0,150300.0,151900.0,153500.0,154300.0,154400.0,...,217800,219400,221100,222000,222800,224900,228000,231200,233900,236000

In [ ]:
,'1996-04':'1999-12'

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"